version: '3.8'

services:
  backend:
    build: ./backend
    container_name: nodejs-backend
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app  
      - /app/node_modules 
    depends_on:
      - mongodb
    environment:
      - MONGO_URL=mongodb://mongodb:27017/nodejs

    command: npm run dev


  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    command: ["mongod", "--quiet"]

  frontend:
    build: ./frontend 
    container_name: react-frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - VITE_API_URL=http://localhost:3000/api 
    networks:
      - app-network

volumes:
  mongo-data:

networks:
  app-network:
    driver: bridge