version: '3.8'

services:
  backend:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - .:/app            
      - /app/node_modules 
    depends_on:
      - mongodb
    environment:
      - MONGO_URL=mongodb://mongodb:27017/proje_ismi

    command: npm run dev


  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    command: ["mongod", "--quiet"]

volumes:
  mongo-data: